<div id="header">
  <div id="masthead">
    <div id="branding" role="banner">
      <h1 id="site-title">
        <span>
          <a href="https://yoonlab.hanyang.ac.kr/">Yoon Lab &commat; Hanyang </a><br>
          <a href="index.html" title="Graph-ML, Deep Generative Model &amp; Computational Neuroscience Journal Club" rel="home">Graph-ML, Deep Generative Model &amp; Computational Neuroscience Journal Club</a>
        </span>
      </h1>
      <div id="site-description"></div>
    </div><!-- #branding -->
  </div><!-- #masthead -->
</div><!-- #header -->
